/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.button {
  background-color: #DCC48E;
  border-radius: 30px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
  text-align: center;
  display: block;
  opacity: 0;
  text-decoration: none;
  padding: 15px 20px;
  margin: 0 auto;
  width: 170px; }
  .button:hover {
    background-color: #c6ac70; }

.top-bar {
  background: transparent;
  display: flex;
  height: 47px;
  justify-content: space-between;
  position: fixed;
  transition: background-color 0.7s;
  width: 100%;
  z-index: 1; }
  .top-bar:hover, .top-bar.scrolled {
    background-color: #f5f0f0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); }
    .top-bar:hover .top-bar__link--title, .top-bar.scrolled .top-bar__link--title {
      opacity: 1.0; }

.top-bar__link-list {
  margin: 10px 0; }

.top-bar__link,
.top-bar__link--title {
  float: left;
  list-style-type: none;
  padding: 0 15px;
  line-height: 1.5; }

.top-bar__link--title {
  opacity: 0.0;
  transition: opacity 0.7s; }

.top-bar__link-anchor {
  color: #444;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  padding: 0;
  text-decoration: none;
  transition: color 0.5s; }

.top-bar__link-anchor.active {
  font-weight: 600;
  line-height: 25px; }

.top-bar__link-anchor:hover,
.top-bar__link.active .top-bar__link-anchor {
  color: #DCC48E; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #ebd8da; }

h1, h2 {
  font-family: "adelle", serif;
  font-weight: 500;
  color: #444;
  margin: 0; }

li, p, a, h3, h4, h5, h6 {
  font-family: "adelle-sans", sans-serif;
  color: #444; }

p a {
  text-decoration: underline; }
  p a:hover {
    color: #DCC48E; }

.reveal-modal h2 {
  font-size: 26px; }
.reveal-modal .intro {
  padding: 0 0 20px 0; }
  .reveal-modal .intro p {
    text-align: justify; }
.reveal-modal .slideshow {
  padding: 0;
  margin-bottom: 25px; }
.reveal-modal .project-details {
  border: 2px solid #444;
  padding-top: 10px;
  padding-bottom: 5px; }
  .reveal-modal .project-details h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px; }
  .reveal-modal .project-details p, .reveal-modal .project-details a {
    color: #444;
    font-size: 13px; }
  .reveal-modal .project-details p {
    margin-bottom: 10px; }
  .reveal-modal .project-details a:hover {
    color: #DCC48E; }
  .reveal-modal .project-details ul {
    margin-left: 0;
    margin-bottom: 10px; }
    .reveal-modal .project-details ul li {
      list-style-type: none;
      color: #444;
      font-size: 13px; }
.reveal-modal .slick-prev, .reveal-modal .slick-next {
  width: 30px;
  height: 30px; }
  .reveal-modal .slick-prev:hover:before, .reveal-modal .slick-next:hover:before {
    color: #DCC48E; }
.reveal-modal .slick-prev {
  left: 10px; }
.reveal-modal .slick-next {
  right: 10px; }
.reveal-modal .slick-prev:before, .reveal-modal .slick-next:before {
  font-size: 30px;
  color: #DCC48E;
  opacity: 1.0; }
.reveal-modal .slick-dots {
  margin-left: 0;
  bottom: -55px; }

::selection {
  background: #DCC48E;
  /* WebKit/Blink Browsers */
  color: #FFF; }

::-moz-selection {
  background: #DCC48E;
  /* Gecko Browsers */
  color: #FFF; }

.section-wrapper {
  position: relative;
  padding: 130px 0 100px;
  min-height: 900px;
  height: 100vh; }
  @media only screen and (max-width: 40em) {
    .section-wrapper {
      padding: 60px 0 35px; } }

.section-wrapper.projects {
  height: auto; }

.homepage {
  background-color: #ebd8da;
  padding-top: 90px; }
  .homepage h1 {
    font-size: 70px;
    font-weight: 600;
    color: #444;
    text-align: center;
    opacity: 0;
    /* Define mobile styles */ }
    @media only screen and (max-width: 40em) {
      .homepage h1 {
        font-size: 40px; } }
  .homepage p {
    font-size: 20px;
    font-weight: 300;
    color: #444;
    text-align: center;
    opacity: 0; }
    @media only screen and (max-width: 40em) {
      .homepage p {
        font-size: 16px; } }
  .homepage .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 10px auto 10px;
    display: block;
    opacity: 0; }

.wf-inactive .homepage h1 {
  opacity: 1.0; }
.wf-inactive .homepage p {
  opacity: 1.0; }
.wf-inactive .homepage .profile-picture {
  opacity: 1.0; }
.wf-inactive .homepage .button {
  opacity: 1.0; }

.who-am-i a {
  color: #444; }

.about-me h2 {
  text-align: center;
  margin: 0 0 70px 0;
  font-size: 40px; }
  @media only screen and (max-width: 40em) {
    .about-me h2 {
      font-size: 30px; } }
.about-me .fa {
  color: #444; }
@media only screen and (max-width: 40em) {
  .about-me .fact {
    margin-bottom: 50px; } }
.about-me .fact h3 {
  text-align: center;
  margin: 20px 0 20px 0; }
  @media only screen and (max-width: 40em) {
    .about-me .fact h3 {
      font-size: 25px; } }
.about-me .fact i {
  font-size: 90px;
  display: block;
  text-align: center; }
.about-me .fact p {
  text-align: center; }
  @media only screen and (max-width: 40em) {
    .about-me .fact p {
      font-size: 16px; } }

.statement {
  overflow: hidden;
  padding: 140px 0 120px;
  background-color: #f5f0f0; }
  @media only screen and (max-width: 40em) {
    .statement {
      padding: 70px 0 60px; } }
  .statement .divider {
    width: 10%;
    height: 5px;
    background-color: #293d3f;
    display: block;
    margin: 30px 0 25px; }
    @media only screen and (max-width: 40em) {
      .statement .divider {
        width: 25%; } }
  .statement h2.quote {
    font-style: italic; }
  @media only screen and (max-width: 40em) {
    .statement h2 {
      font-size: 24px; } }
  .statement p {
    color: #444;
    font-size: 20px; }
    @media only screen and (max-width: 40em) {
      .statement p {
        font-size: 16px; } }

.projects h2 {
  margin: 0 0 60px 0; }
.projects .projects-row {
  margin-bottom: 30px; }
@media only screen and (max-width: 40em) {
  .projects .project {
    margin-bottom: 50px; } }
.projects .project .img-wrapper {
  cursor: pointer;
  overflow: hidden;
  position: relative; }
  .projects .project .img-wrapper .img-overlay {
    transition: opacity 0.3s ease;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; }
    .projects .project .img-wrapper .img-overlay p {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #FFF;
      font-size: 60px;
      text-align: center; }
  .projects .project .img-wrapper:hover .img-overlay {
    opacity: 0.7; }
.projects .project h3 {
  margin: 20px 0 15px;
  cursor: pointer; }

.contact {
  background-color: #f5f0f0; }
  .contact .intro {
    margin-bottom: 50px; }
    @media only screen and (max-width: 40em) {
      .contact .intro {
        margin-bottom: 20px; } }
    .contact .intro h2, .contact .intro p {
      text-align: center; }
  .contact .send-email-icon {
    background-color: #DCC48E;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    margin: 40px auto 40px auto; }
    .contact .send-email-icon .fa-paper-plane {
      font-size: 40px;
      text-shadow: 1px 3px 0 rgba(0, 0, 0, 0.05);
      margin: 26px 0 0 -6px; }
  .contact .email-field {
    font-family: "adelle-sans", sans-serif;
    font-size: 18px;
    padding: 8px 30px 10px 30px;
    display: block;
    border: 2px solid #444;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    color: #444; }
    @media only screen and (max-width: 40em) {
      .contact .email-field {
        margin-bottom: 50px; } }
    .contact .email-field.active {
      border-color: #DCC48E; }

.social-media {
  height: 63px;
  width: 100%;
  background-color: #ebd8da;
  padding: 18px 0 0 0;
  position: relative; }
  @media only screen and (max-width: 40em) {
    .social-media {
      height: 160px; } }
  .social-media .links {
    display: flex;
    justify-content: center; }
  .social-media ul li {
    list-style-type: none;
    float: left;
    margin: -3px 15px 0 0; }
    @media only screen and (max-width: 40em) {
      .social-media ul li {
        margin: 0 0 10px 0;
        width: 120px; } }
    .social-media ul li a .fa {
      font-size: 26px;
      margin: 0 8px 0;
      position: relative;
      top: 4px; }
    .social-media ul li:hover {
      pointer: cursor; }
      .social-media ul li:hover a {
        color: #DCC48E; }

@media only screen and (max-width: 40em) {
  .find-me-online-label {
    display: none; } }

/*# sourceMappingURL=app.css.map */
