.header-row {
  margin-bottom: 2rem;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: block;
  margin-right: 3rem;
  margin-top: 10px;
}

h1 {
  margin: 2rem 0 0 0;
}

h2 {
  border-bottom: 1px solid #ccc;
  font-size: 2.5rem;
  letter-spacing: 0;
  line-height: 1.25;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 0.2rem 0;
  letter-spacing: 0;
}

p {
  margin-bottom: 3.5rem;
}

.subline {
  color: #aaa;
  margin: 0 0 0.7rem 0;
}

.minimal-list {
  list-style-type: none;
}

.minimal-list li {
  margin-bottom: 0.5rem;
}

@media (min-width: 40rem) {
  .row .column {
    padding: 0 2rem;
  }
}