// Basic colors
$white: #fff;
$black: #000;

// Background
$light-grey: #dae7e9;
$lighter-grey: #e9e9e9;
$background-color: #f3f3f3;
$background-color-soft: #fff;

// Interaction
$call-to-action-color: #dcc48e;
$call-to-action-color-hover: #c6ac70;

// Text
$text-color: #444;
