.fact {
  flex: 1 1 25%;
  padding: 0 20px;

  @media only screen and (max-width: 40em) {
    margin-bottom: 50px;
  }
}

.fact__icon {
  font-size: 90px;
  display: block;
  text-align: center;
}

.fact__headline {
  text-align: center;

  @media only screen and (max-width: 40em) {
    font-size: 25px;
  }
}

.fact__description {
  text-align: center;

  @media only screen and (max-width: 40em) {
    font-size: 16px;
  }
}
